@model Perro

<div class="container-fluid w-50 mt-5">
    <form method="post" style="text-align: left">
        <input type="hidden" name="idperro" value="@Model.IdPerro" />
        <input type="hidden" name="idusu" value="@Model.IdUsu" />
        <input type="hidden" name="foto" value="@Model.Foto" />
        @*<input type="hidden" name="username" value="@Model.UserName" />
        <input type="hidden" name="password" value="@Model.Password" />
        <input type="hidden" name="fechaalta" value="@Model.FechaAlta" />
        *@
        <table class="table">
            <tr class="row">
                <td class="col-5">
                    <label style="font-weight: bold">Nombre</label><br />
                    <label>@Model.Nombre</label>
                </td>
                <td class="col-5">
                    <input type="text" name="nombre" value="@Model.Nombre"
                           placeholder="Nuevo nombre" class="form-control-sm" /><br />
                </td>
            </tr>
            <tr class="row">
                <td class="col-5">
                    <label style="font-weight: bold">Estatura</label><br />
                    <label>@Model.Estatura</label>
                </td>
                <td class="col-5">
                    <select name="estatura" class="form-control">
                        @foreach (String i in Enum.GetNames(typeof(Enumerations.Estaturas)))
                        {
                            if (i == Model.Estatura)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select><br />
                    @*<input type="text" name="apellidos" value="@Model.Estatura" class="form-control-sm" />*@<br />
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-success">Editar datos</button>
    </form>
</div>

@*<form method="post">
    <input type="hidden" name="idusu" value="@Model.IdUsu" />
    <input type="hidden" name="idperro" value="@Model.IdPerro" />
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" value="@Model.Nombre" /><br />
    <label>Estatura</label>
    <input type="text" name="estatura" class="form-control" value="@Model.Estatura" /><br />
    <button type="submit" class="btn btn-success">Editar</button>
</form>*@