@model Perro
<h1 style="color: lightseagreen">Editar datos de @Model.Nombre</h1>
<a asp-controller="Users" asp-action="Perfil" class="btn" style="background-color: mediumpurple">Volver al perfil</a>
<a asp-controller="Users" asp-action="ListaPerros" class="btn" style="background-color: cornflowerblue">Volver a lista de perros</a>
<div class="container-fluid w-50 mt-5">
    <form method="post" style="text-align: left" enctype="multipart/form-data">
        <input type="hidden" name="idperro" value="@Model.IdPerro" />
        <input type="hidden" name="idusu" value="@Model.IdUsu" />
        <input type="hidden" name="foto" value="@Model.Foto" />
        <table class="table">
            <tr class="row">
                <td class="col-5">
                    <label style="font-weight: bold">Nombre</label><br />
                    <label>@Model.Nombre</label>
                </td>
                <td class="col-5">
                    <input type="text" name="nombre" value="@Model.Nombre"
                           placeholder="Nuevo nombre" class="form-control-sm" /><br />
                </td>
            </tr>
            <tr class="row">
                <td class="col-5">
                    <label style="font-weight: bold">Estatura</label><br />
                    <label>@Model.Estatura</label>
                </td>
                <td class="col-5">
                    <select name="estatura" class="form-control">
                        @foreach (String i in Enum.GetNames(typeof(Enumerations.Estaturas)))
                        {
                            if (i == Model.Estatura)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select><br />
                </td>
            </tr>
            <tr class="row">
                <td class="col-5">
                    <label style="font-weight: bold">Foto</label><br />
                    @if (Model.Foto != null)
                    {
                        <img src="~/images/@Model.Foto" style="width: 120px; height: 120px" />
                    }
                    else
                    {
                        <label>No hay foto</label>
                    }
                </td>
                <td class="col-5">
                    <input type="file" name="fichero" />
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-success">Guardar</button>
        @* MODAL DE CONFIRMACIÓN*@ 
        <button class="btn" style="background-color: lightcoral"
                data-bs-toggle="modal" type="button"
                data-bs-target="#confirmation">
            Eliminar perro
        </button>

        <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Estás seguro/a de que quieres eliminarlo??
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                        <a asp-controller="Users" asp-action="EliminarPerro"
                           asp-route-idperro="@Model.IdPerro" class="btn btn-success">Sí</a>
                    </div>
                </div>
            </div>
        </div>
        @*<a asp-controller="Users" asp-action="EliminarPerro" class="btn btn-danger">Eliminar perro</a>*@
    </form>
</div>

@section styles
{
    <style>
        body {
            background-size: cover !important;
        }
    </style>
}